* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff6d4;
  background-image: url("../gameSutenV2/assets/background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  font-family: Truculenta;
  color: #5c2c0c;
}
section#hal-1 {
  width: 100vw;
  height: 100vh;
  border: 5px solid black;
  display: grid;
  grid-template-areas:
    "h1"
    "p"
    "img"
    "button";
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h1 {
  grid-area: h1;
  text-align: center;
}
p {
  grid-area: p;
  place-content: center;
}
img {
  grid-area: img;
  
}
button {
    display: inline-block;
}

/* Halaman 1
  section#hal-1 {
    display: block;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 3rem;
  }
  .isi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .button {
    padding: 0.4rem 1.1rem;
    width: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: #5c2c0c;
    border-radius: 20px;
    color: #fff6d4;
    margin: 2rem auto;
  }
  .button:hover {
    cursor: pointer;
  } */
